*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  margin-top: 133px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
  margin: auto;
}

.result {
  width: 711px;
  height: 456px;
  display: grid;
  align-items: end;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  appearance: none;
}

.search-form__fieldset-title {
  color: #FFF;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 5px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
  margin-right: 15px;
}

.search-form__label-text {
  padding-left: 5px;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  appearance: none;
  color: rgba(255, 255, 255, 0.70);
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  border-right: none;
  border-left: none;
  background: transparent;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 225px;
  height: 27px;
}

.search-form__textfield:active {
  border-top: none;
  border-bottom: none;
}

.search-form__pseudo-checkbox {            
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  cursor: pointer;
  display: flex;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
  display: inline-block;
  margin-top: 1px;
  margin-left: 1px;
  cursor:pointer;
  display: flex;
}

.search-form__checkbox-list {
  display: flex;
}

.search-form__checkbox {
  width: 19px;
  height: 19px;
  color: #fff;
}

.search-form__submit-button {
  cursor: pointer;
  padding: 6px 73.5px;
  background:transparent;
  color: #fff;
  text-align: center;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-self: end;
  width: 194px;
  height: 34px;
  outline: none;
  border: none;
}

.more-button {
  cursor: pointer;
  background: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  width: 399px;
  height: 34px;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  border: none;
}

.button {
  border: 1px solid #fff;
}

.content__list {
  height: 290px;
  overflow: auto;
  position: relative;
}

.content__details {
  width: 100%;
  height: 100%; 
}

.content__video-card {
  display: flex;
  justify-content: start;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__list-item:focus {
  outline: none;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  width: 100%;
}

.title {
  color: #FFF;
  font-family: 'Oswald';
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  padding-bottom: 26px;
}

.content__accent {
  color: #545050;
  font-family: 'Oswald';
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; 
  text-transform: uppercase;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
  margin: 3px;
} 

.content__video-card-title {
  color: #FFF;
  font-family: 'Oswald';
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.content__video-card-description {
  color: #fff;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; 
  padding-top: 6px;
}

input:focus {
  outline: none;
}

label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.more-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -3px;
}

button:active {
  background-color: #545050;
}

button:hover {
  text-decoration: underline;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link_current {
  background-color: #545050;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline;
}

.content__list-item:not(:last-child):active {
  background-color: #545050;
}

